{% extends 'home.html' %}
{% load static %}

{% block title %}
    Sobre nosotros
{% endblock title %}

{% block content %}
<header>
    <h1>Sobre nosotros - Psico APP</h1>
</header>
<section>
    <p>Psico APP es la respuesta integral al cuidado de la salud mental, especialmente dirigida a aquellos que enfrentan limitaciones económicas y de accesibilidad. Nuestro propósito es democratizar el acceso a una variedad de terapias, espacios terapéuticos y profesionales, ofreciéndolo de manera conveniente y accesible a través de una plataforma online.</p>
    <p>En un contexto marcado por avances tecnológicos, inestabilidad económica y cambios globales, reconocemos la importancia crítica de priorizar la salud mental. Psico App es una plataforma que se enfoca en brindar herramientas para identificar y abordar cualquier síntoma o situación de riesgo que pueda afectar tanto al usuario como a sus seres queridos.</p>
    <p>La plataforma promueve el conocimiento de terapias psicológicas, promueve la salud mental, la prevención de enfermedades y atiende necesidades de urgencia.</p>
</section>
<img src="{% static 'background.jpg' %}" alt="Imagen descriptiva" class="img-fluid" style="max-width: 300px; height: auto; margin: 0 auto; display: block;">
{% endblock content %}

