{% extends 'home.html' %}

{% block title %}
    Detalle de la Reserva
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <header>
        <h1>Detalle de la Reserva</h1>
    </header>

    <!-- Agrega el mensaje de éxito aquí -->
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {{ messages }}
    </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
            <p><strong>Nombre del Paciente</strong> {{ reserva.nombre_usuario }}</p>
            <p><strong>Fecha:</strong> {{ reserva.fecha }}</p>
            <p><strong>Hora:</strong> {{ reserva.hora }}</p>
            <p><strong>Tipo de Terapia:</strong> {{ reserva.tipo_terapia }}</p>
            <p><strong>Terapeuta:</strong> {{ reserva.terapeuta }}</p>
        </div>
    </div>
</div>
{% endblock content %}
