{% extends 'home.html' %}
{% block title %}
    Login
{% endblock title %}

{% block content %}
    <header>
        <h1>Log in</h1>
    </header>
    <div class="container mt-4">
        <div class="card-deck">
            <!-- Cards de terapeutas -->
        </div>
        
        <!-- Formulario de inicio de sesión -->
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Inicio de Sesión</h5>
                
                <form method="post" action="{% url 'login' %}">
                   
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit"class ="btn btn-primary">Iniciar sesión</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock content %}
