{% extends 'home.html' %}
{% block title %}
    Login
{% endblock title %}

{% block content %}
    <header>
        <h1>Log in</h1>
    </header>
    <div class="container mt-4">
        <div class="card-deck">
            <!-- Cards de terapeutas -->
        </div>
        
        <!-- Formulario de inicio de sesión -->
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Inicio de Sesión</h5>
                <form action="/login" method="post">
                    {% csrf_token %}

                </form>
                    {{ form.as_p }}
                    <div class="form-group">
                        <label for="username">Nombre de Usuario:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
