{% extends 'home.html' %}

{% block title %}
    Buscar Terapeutas
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4">Buscar Terapeutas Disponibles</h2>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Introduzca los criterios de búsqueda
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'search_view' %}">  
                            {% csrf_token %}  
                            {{ search_form.as_p }}
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
