{% extends 'home.html' %}
{% block title %}
    Login
{% endblock title %}

{% block content %}
<body>
    <header>
        <h1> Encuentra tu terapia </h1>
    </header>
    <div class="container">
        <div class="card">
            <h2>Terapia Cognitivo-Conductual (TCC)</h2>
            <p>Enfrenta tus pensamientos para mejorar tus acciones.</p>
        </div>
        <div class="card">
            <h2>Terapia Psicodinámica</h2>
            <p>Descubre tus motivaciones subconscientes.</p>
        </div>
        <div class="card">
            <h2>Terapia Humanista</h2>
            <p>Potencia tu crecimiento personal.</p>
        </div>
        <div class="card">
            <h2>Terapia de Pareja</h2>
            <p>Fortalece la relación con tu pareja.</p>
        </div>
        <div class="card">
            <h2>Terapia Familiar</h2>
            <p>Mejora la dinámica y comunicación familiar.</p>
        </div>
        <div class="card">
            <h2>Terapia de Grupo</h2>
            <p>Encuentra apoyo y comprensión en comunidad.</p>
        </div>
        <div class="card">
            <h2>Terapia Gestalt</h2>
            <p>Aumenta tu conciencia del momento presente.</p>
        </div>
        <div class="card">
            <h2>Psicoterapia Integrativa</h2>
            <p>Combina elementos de varias terapias adaptadas a ti.</p>
        </div>
    </div>
</body>
</html>
{% endblock content %}
