{% extends 'home.html' %}

{% block title %}
    Terapeutas
{% endblock title %}

{% block content %}
    <header>
        <h1>Conoce algunos de nuestros terapeutas</h1>
    </header>
    <div class="container mt-4">
        <div class="card-deck">
            <div class="card">
                <img src="terapeuta1.jpg" class="card-img-top" alt="Terapeuta 1">
                <div class="card-body">
                    <h5 class="card-title"> Dra. María López</h5>
                    <p class="card-text"> Psicóloga Clínica Especializada en Terapia Cognitivo-Conductual (TCC)
                    <a href="https://calendly.com/es" class="btn btn-primary" target="_blank">Seleccionar</a>
                </div>
            </div>
            <div class="card">
                <img src="terapeuta2.jpg" class="card-img-top" alt="Terapeuta 2">
                <div class="card-body">
                    <h5 class="card-title">Dra. Ana Martínez 2</h5>
                    <p class="card-text">Terapeuta Familiar y Sistémica </p>
                    <a href="https://calendly.com/es" class="btn btn-primary" target="_blank">Seleccionar</a>
                </div>
            </div>
            <div class="card">
                <img src="terapeuta3.jpg" class="card-img-top" alt="Terapeuta 3">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Terapeuta 3</h5>
                    <p class="card-text">Descripción breve del Terapeuta 3.</p>
                    <a href="#" class="btn btn-primary">Seleccionar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
